/* #region IMPORTS */
@font-face {
  font-family: "Hubballi";
  src: url("Hubballi-Regular.ttf");
}
@font-face {
  font-family: "Tech";
  src: url("ShareTechMono-Regular.ttf");
}
@font-face {
  font-family: "Baloo";
  src: url("BalooBhaijaan2-VariableFont_wght.ttf");
}
/* #endregion */


.js-post{
  color: #ddd;
  padding: 50px;
}
.js-post p{
  text-align: justify;
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
}

.js-post .notas{
  color: #FA0;
  border: #FA0 1px solid;
  text-align: right;
  font-weight: bold;
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  margin: 10px 0px 10px 180px;
  padding: 30px;
}

.js-post .codigo{
  color: cyan;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
  margin-left: 60px;
}

.js-post img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  pointer-events: none;
  border: #FA0 1px solid;
}

.js-post hr{
  border: #FA09 1px solid;
  margin: 50px auto 50px auto;
}

.js-post h2{
  color: #FA0;
  font-family: Baloo, Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 25pt;
  text-align: left;
}

.js-post h3{
  color: #ddd;
  font-family: Baloo, Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-align: left;
}

.js-post code{
  display: block;
  color: cyan;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
  margin-left: 60px;
}

.js-button{
  display: inline-block;
  color: white;
  background-color: #111;
  border: #FA0 1px solid;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
}
.js-button:hover{
  color: black;
  background-color: #FA0;
}

.js-table{
  margin: auto;
  color: #ddd;
  font-size: xx-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}
.js-table th{
  color: #FA0;
  padding: 5px 30px 5px 30px;
  border-bottom: #FA0 1px solid;
  text-align: left;
}
.js-table td{
  padding: 5px 30px 5px 30px;
  border-bottom: #333 1px solid;
}



::selection{
  color: black;
  background-color: #FA0;
}
::-moz-selection{
  color: black;
  background-color: #FA0;
}