/* #region IMPORTS */
@font-face {
  font-family: "Hubballi";
  src: url("Hubballi-Regular.ttf");
}
@font-face {
  font-family: "Tech";
  src: url("ShareTechMono-Regular.ttf");
}
@font-face {
  font-family: "Baloo";
  src: url("BalooBhaijaan2-VariableFont_wght.ttf");
}
/* #endregion */

/* #region VARIÁVEIS */

:root {
  --pretoDark: #151015;
  --pretoMedio: #252020;
  --pretoLeve: #302520;
  --AMARELO: #FB0;
  --cinzaMedio: rgb(160, 133, 97);
  --cinzaLeve: #DDD;
  --gradiente45: linear-gradient(45deg, rgb(255, 255, 119), rgb(170, 82, 0))1;
  --gradiente0: linear-gradient(0deg, rgb(255, 255, 119), rgb(170, 123, 0))1;
  --gradiente90: linear-gradient(90deg, rgb(255, 255, 119), rgb(170, 123, 0))1;
}

/* #endregion */

/* #region BARRA LATERAL  =========================================== */

.js-side-left{
  width: 20%;
  left: 0;
  top: 0;
  margin-top: 40px;
  bottom: 0;
  position: fixed;
  background-color: var(--pretoMedio);
  padding: 50px 10px 10px 10px;
  z-index: 0;
  height: 100% - 40px;
  overflow-y: auto;
  box-sizing: border-box;
}
.js-side-left a{
  display: block;
  color: var(--cinzaLeve);
  padding: 10px;
  text-decoration: none;
  margin: 0;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: medium;
}
.js-side-left p{
  display: block;
  color: var(--AMARELO);
  padding: 10px;
  text-decoration: none;
  margin: 0;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
.js-side-left a:hover{
  background-color: var(--AMARELO);
  color: black;
}

/* #endregion PÁGINA ==================================*/

/* #region MENU DE NAVEGAÇÃO  =========================================== */

.js-nav{
  background-color: #000A;
  backdrop-filter: blur(10px);
  box-shadow: 5px 0px 15px #FB08;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.js-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.js-nav .right{
  float: right;
}

.js-nav .active{
  background-color: black;
  color: VAR(--AMARELO);
  border-left: 3px solid VAR(--AMARELO);
  border-right: 3px solid VAR(--AMARELO);
}

.js-nav li{
  float: left;
  list-style: none;
}

.js-nav a{
  display: block;
  color: white;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: medium;
  max-height: 40px;
}

.js-nav a:hover{
  background-color: VAR(--AMARELO);
  color: black;
}

.js-drop-button{
  display: block;
}

.js-drop-content{
  display: none;
  position: absolute;
  background-color: #000D;
  color: var(--cinzaMedio);
  min-width: 200px;
  box-shadow: 0px 0px 15px #FA08;
  z-index: 1;
  padding: 10px;
}

.js-drop-button:hover .js-drop-content{
  display: block;
}

/* #endregion ==================================*/

/* #region RODAPÉ */
.js-footer{
  background-color: #0007;
  backdrop-filter: blur(10px);
  width: 100%;
  border: 1px solid;
  border-image: var(--gradiente45);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  box-sizing: border-box;
  bottom: 0;
}
.js-footer par{
  display: block;
  color: var(--cinzaLeve);
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}
.js-footer par:hover{
  color: var(--AMARELO);
  cursor: pointer;
}
.js-footer tit{
  display: block;
  color: var(--cinzaMedio);
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.js-footer div{
  padding: 25px;
  vertical-align: top;
  flex-basis: 300px;
  flex-grow: 100%;
}
/* #endregion */

/* #region BTN-UP */
.btnUp {
  width: 30px;
  height: 30px;
  fill: #DDD3;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.btnUp:hover {
  width: 40px;
  height: 40px;
  fill: #FB0;
  margin: 5px;
}
/* #endregion */

/* #region PÁGINA ============================================================= */
body{
  background-color: var(--pretoDark);
  margin: 0;
}
.js-page{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.js-post{
  background-color: var(--pretoMedio);
  padding: 30px;
  box-sizing: border-box;
}
.js-post-frame{
  border: none;
  display: none;
}
/* #endregion PÁGINA ================================== */

/* #region FORMATAÇÃO ================================== */
.js-post p{
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  color: var(--cinzaLeve);
  text-align: justify;
  text-indent: 60px;
}
hr{
  border-width: 1px 0 0 0;
  border-image: var(--gradiente45);
  margin: 5px;
}
.js-post h1{
  color: var(--AMARELO);
  font-size: 40pt;
  font-family: Baloo;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.js-post h2{
  color: var(--AMARELO);
  font-family: Baloo;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
}
.js-post h3{
  color: var(--cinzaLeve);
  font-family: Baloo;
  font-weight: bold;
  font-size: 25pt;
  text-align: left;
}
.js-button{
  display: inline-block;
  color: white;
  background-color: var(--pretoDark);
  border: 1px solid;
  border-image: var(--gradiente45);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  cursor: pointer;
}
.js-button:hover{
  color: black;
  background-color: var(--AMARELO);
}
.notas{
  color: var(--AMARELO);
  border: 1px solid;
  border-image: var(--gradiente45);
  text-align: right;
  font-weight: bold;
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  margin: 10px 0px 10px 180px;
  padding: 30px;
}
.codigo, code{
  color: cyan;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
  margin-left: 60px;
}
.js-post img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  pointer-events: none;
  border: 1px solid;
  border-image: var(--gradiente45);
}
.js-table{
  margin: auto;
  color: var(--cinzaLeve);
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}
.js-table th{
  color: VAR(--AMARELO);
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid var(--AMARELO);
  text-align: left;
}
.js-table td{
  padding: 5px 30px 5px 30px;
  border-bottom: #333 1px solid;
}
li{
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  color: var(--cinzaLeve);
  text-align: justify;
  list-style: "\261B";
}
a{
  cursor: pointer;
}
/* #endregion ================================== */

/* #region CONFIGURAÇÕES DO SITE ==================================================== */

/* Seleção  */
::selection{
  color: black;
  background-color: var(--AMARELO);
}
::-moz-selection{
  color: black;
  background-color: var(--AMARELO);
}

/* Espessura da barra de roladem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Fundo da barra de roladem */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Barra de roladem */
::-webkit-scrollbar-thumb {
  background-color: #FFF5;
  border-radius: 10px;
  min-height: 100px;
}

/* Barra de roladem : Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--AMARELO);
}

/* #endregion CONFIGURAÇÕES DO SITE ==================================*/

/* #region  DISPOSITIVOS MÓVEIS */
@media (max-width: 600px) {
  .js-nav {
    flex-direction: row;
    position: relative;
    top: 0;
  }
  .img-slider { display: none; }
  .img-slider a { display: none;}
  .js-nav li {
    min-width: 150px;
    width: 100%;
  }
  .js-nav ul {
    width: 100%;
    margin: 0;
  }
  .js-drop-content{
    width: 100%;
    padding: 10px;
  }
  .js-footer {
    padding: 10px;
    flex-direction: column;
    justify-content: stretch;
  }
  .js-footer div {
    padding: 0px 15px 0px 15px;
  }
  .js-page { width: 100%;}
  .js-side-left { display: none;}
}
/* #endregion */

