/* #region IMPORTS */
@font-face {
  font-family: "Hubballi";
  src: url("Hubballi.ttf");
}

@font-face {
  font-family: "Tech";
  src: url("Tech.ttf");
}

@font-face {
  font-family: "Baloo";
  src: url("Baloo.ttf");
}

/* #endregion */

/* #region VARIÁVEIS */

:root {
  --cyan: var(--cyan);
  --black: black;
  --white: white;
  --pretoDark: #151015;
  --pretoMedio: #252020;
  --pretoLeve: #403525;
  --AMARELO: #FB0;
  --cinzaMedio: rgb(160, 133, 97);
  --cinzaLeve: #DDD;
  --gradiente45: linear-gradient(45deg, rgb(255, 255, 119), rgb(170, 82, 0))1;
  --gradiente0: linear-gradient(0deg, rgb(255, 255, 119), rgb(170, 123, 0))1;
  --gradiente90: linear-gradient(90deg, rgb(255, 255, 119), rgb(170, 123, 0))1;
}

/* #endregion */

/* #region BARRA LATERAL  =========================================== */

.js-side-left {
  width: 20%;
  left: 0;
  top: 0;
  margin-top: 40px;
  bottom: 0;
  position: fixed;
  background-color: var(--pretoMedio);
  padding: 50px 10px 10px 10px;
  z-index: 0;
  height: 100% - 40px;
  overflow-y: auto;
  box-sizing: border-box;
}

.js-side-left a {
  display: block;
  color: var(--cinzaLeve);
  padding: 10px;
  text-decoration: none;
  margin: 0;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: medium;
}

.js-side-left p {
  display: block;
  color: var(--AMARELO);
  padding: 10px;
  text-decoration: none;
  margin: 0;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}

.js-side-left a:hover {
  background-color: var(--AMARELO);
  color: var(--black);
  transition-duration: 500ms;
}

.js-index-toggle {
  display: none;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--black);
  border-block: var(--pretoLeve) 1px solid;
  color: var(--white);
  transition-duration: 700ms;
  z-index: 1;
}

.js-index-icon:hover {
  background-color: var(--AMARELO);
  cursor: pointer;
}

.js-index-icon:hover div,
.js-index-icon:active div {
  background-color: var(--black) !important;
  cursor: pointer;
  transition-duration: 500ms;
}

.js-index-icon {
  padding: 5px;
  width: fit-content;
}

@media (max-width: 600px) {
  .js-side-left {
    display: none;
    width: 100%;
    margin: auto;
    left: 0;
    position: relative;
    border: var(--pretoLeve) 1px solid;
  }

  .js-index-toggle {
    display: block;
  }

}

/* #endregion PÁGINA ==================================*/

/* #region IMAGE SLIDER */

@keyframes bannerAnimation {

  0%,
  28%,
  100% {
    opacity: 0%;
    display: none;
    z-index: -1;
  }

  3%,
  25% {
    opacity: 100%;
    display: block;
    z-index: 1;
  }
}

#img1 {
  animation-name: bannerAnimation;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

#img2 {
  animation-name: bannerAnimation;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-delay: 10s;
}

#img3 {
  animation-name: bannerAnimation;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-delay: 20s;
}

#img4 {
  animation-name: bannerAnimation;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-delay: 30s;
}

.img-slider {
  background-color: var(--black);
  height: fit-content;
  display: grid;
  top: 0;
  width: 100%;
  grid-template-rows: 1fr;
}

.banner img {
  width: 100%;
  pointer-events: none;
}

.banner {
  top: 0;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: var(--pretoDark);
}

/* #endregion */

/* #region MENU DE NAVEGAÇÃO  =========================================== */

.js-nav {
  position: sticky;
  display: block;
  background-color: var(--pretoDark);
  border-bottom: var(--pretoLeve) 1px solid;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 10000000;
}

.js-nav a {
  display: table-cell;
  width: fit-content;
  color: var(--white);
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  transition-duration: 700ms;
}

.js-nav a:hover {
  background-color: var(--AMARELO);
  color: var(--black);
}

.js-nav .active {
  background-color: var(--black);
  color: var(--AMARELO);
  border-left: 3px solid var(--AMARELO);
  border-right: 3px solid var(--AMARELO);
}

/* #endregion ==================================*/

/* #region RODAPÉ */
.js-footer {
  display: grid;
  grid-template-areas: "col1 col2 col3" "logo logo logo";
  padding: 20px;
  background-color: var(--pretoDark);
  backdrop-filter: blur(10px);
  width: 100%;
  border: 1px solid;
  border-image: var(--gradiente45);
  box-sizing: border-box;
  margin: 0;
  bottom: 0;
}

.js-footer div {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  min-width: 300px;
  margin: 0 auto 0 auto;
}

.js-footer a {
  text-decoration: none;
}

.js-footer p {
  display: block;
  color: var(--cinzaLeve);
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}

.js-footer p:hover {
  color: var(--AMARELO);
  cursor: pointer;
  text-shadow: 0 0 20px #FB0D;
  transition-duration: 200ms;
}

.js-footer h3 {
  display: block;
  color: var(--cinzaMedio);
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
  .js-footer {
    grid-template-areas: "col1" "col2" "col3" "logo";
  }
}

/* #endregion */

/* #region BTN-UP */
.btnUp {
  width: 40px;
  height: 40px;
  margin: 10px;
  fill: var(--cinzaMedio);
  position: fixed;
  bottom: 0;
  right: 0;
  transition-duration: 500ms;
}

.btnUp:hover {
  fill: var(--AMARELO);
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

/* #endregion */

/* #region PÁGINA ============================================================= */
body {
  background-color: var(--pretoDark);
  margin: 0;
}

.js-page {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.js-post {
  background-color: var(--pretoMedio);
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  border: var(--pretoLeve) 1px solid;
}

.js-post-frame {
  border: none;
  display: none;
}

/* #endregion PÁGINA ================================== */

/* #region FORMATAÇÃO ================================== */
.js-post p {
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  color: var(--cinzaLeve);
  text-align: justify;
  text-indent: 2em;
}

hr {
  border-width: 1px 0 0 0;
  border-image: var(--gradiente45);
  margin: 5px;
}

.js-post h1 {
  color: var(--AMARELO);
  font-size: 3rem;
  font-family: Baloo;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.js-post h2 {
  color: var(--AMARELO);
  font-family: Baloo;
  font-weight: bold;
  font-size: 2rem;
}

.js-post h3 {
  color: var(--cinzaLeve);
  font-family: Baloo;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

.js-button {
  display: inline-block;
  color: var(--white);
  background-color: var(--pretoDark);
  border: 1px solid;
  border-image: var(--gradiente45);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 600ms;
}

.js-button:hover {
  color: var(--black);
  background-color: var(--AMARELO);
}

.notas {
  border: 1px solid;
  border-image: var(--gradiente45);
  text-align: right;
  font-style: italic;
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  margin-block: 10px;
  margin-left: 3em;
  padding: 30px;
}

.codigo {
  color: cyan;
  background-color: black;
  padding: 0px 10px 0px 10px;
  border: var(--cinzaMedio) 1px solid;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
}

code {
  display: block;
  color: cyan;
  background-color: black;
  padding: 20px;
  margin-block: 10px;
  border: var(--cinzaMedio) 1px solid;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
  text-align: left;
}

.js-post img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  pointer-events: none;
  user-select: none;
  border: 1px solid;
  border-image: var(--gradiente45);
}

.js-table {
  margin: auto;
  color: var(--cinzaLeve);
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}

.js-table th {
  color: var(--AMARELO);
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid var(--AMARELO);
  text-align: left;
}

.js-table td {
  padding: 5px 30px 5px 30px;
  border-bottom: var(--pretoLeve) 1px solid;
}

li {
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
  color: var(--cinzaLeve);
  text-align: justify;
  list-style: "\261B  ";
  padding-left: 30px;
}

a {
  cursor: pointer;
}

/* #endregion ================================== */

/* #region CONFIGURAÇÕES DO SITE ==================================================== */

/* Seleção  */
::selection {
  color: var(--black);
  background-color: var(--AMARELO);
}

:root p,
:root h1,
:root h2,
:root h3,
:root li,
:root a {
  -moz-user-select: none;
  user-select: none;
}

::-moz-selection {
  color: var(--black);
  background-color: var(--AMARELO);
}

/* Espessura da barra de roladem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Fundo da barra de roladem */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Barra de roladem */
::-webkit-scrollbar-thumb {
  background-color: var(--cinzaMedio);
  border-radius: 10px;
  min-height: 100px;
}

/* Barra de roladem : Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--AMARELO);
}

/* #endregion CONFIGURAÇÕES DO SITE ==================================*/

/* #region  DISPOSITIVOS MÓVEIS */
@media (max-width: 600px) {
  .js-nav {
    position: relative;
    top: 0;
  }

  .js-nav a {
    display: block;
    width: 100%;
    margin: 0;
  }

  .img-slider {
    display: none;
  }

  .img-slider a {
    display: none;
  }

  .js-footer {
    flex-direction: column;
    justify-content: stretch;
  }

  .js-footer div {
    padding: 0px 15px 0px 15px;
  }

  .js-page {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  .btnUp {
    right: 50px;
    bottom: 0;
    position: fixed;
  }
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

/* #endregion */