.js-page li{
  color: #ddd;
  font-size: x-large;
  font-family: Hubballi, Calibri, 'Trebuchet MS', sans-serif;
}

.js-post code{
  display: block;
  color: cyan;
  font-size: large;
  font-family: Tech, 'Courier New', Courier, monospace;
  margin-left: 60px;
}
