body {
  margin: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('wp.jpg');
  backdrop-filter: blur(7px);
  color: #a8ffe9;
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
}

#jogo {
  background-color: #333;
  border: gold 1px solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px gold;
}

#info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  border-bottom: #555 1px solid;
}
#info * {
  padding: 5px;
  background-color: #222;
  border-radius: 5px;
}
#info #titulo {
  color: #006e5e;
  background-color: gold;
  font-weight: bold;
  opacity: 0.5;
}
#reiniciar {
  padding: 7px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 7px;
  color: #006e5e;
  background-color: gold;
  border: 2px solid #006e5e;
  transition: all 300ms;
  scale: 1;
}
#reiniciar:hover {
  scale: 0.95;
  background-color: #006e5e;
  color: gold;
  border: 2px solid gold;
}
#reiniciar:active {
  scale: 0.8;
  opacity: 0.7;
}